// Variables
$bgClr-primary: #7a7a7a;;
$bgClr-secondary: rgb(22, 96, 157);
$bgClr-tertiary: #fafafa;
$shadow-prim: 0 0 0.7rem rgba(0, 0, 0, 0.5);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-size: 1rem;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $bgClr-tertiary;
    overflow-y: hidden;

    &.hidden {
        overflow-x: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: $bgClr-primary;
            z-index: 9;
            transition: all .1s ease-in-out;
        }
    }
}

a,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

.meals {
    &__container {
        width: 25rem;
        color: #fff;
        background: $bgClr-primary;
        margin: .5rem 0;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
    }

    &__search {
        &-input {
            padding: .5rem;
            margin-right: .5rem;
        }

        &-icon {
            font-size: 1.25rem;
        }
    }

    &__fav {
        background: $bgClr-secondary;
        padding: 1rem;
        text-align: center;

        &-title {
            margin-bottom: 1rem;
        }

        &-list {
            display: flex;
            justify-content: center;
            list-style: none;
        }

        &-item {
            margin: 0 .3rem;
            cursor: pointer;
            
            img {
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                border-radius: 50%;
                margin-bottom: .2rem;
            }
        }
    }

    &__card {
        margin: 1.5rem 1rem;
        box-shadow: $shadow-prim;
        padding: 0 0 1rem 0;
        cursor: pointer;
        
        &-img {
            position: relative;

            span {
                position: absolute;
                top: 0;
                left: 0;
                padding: .3rem 1rem;
                text-align: center;
                background: $bgClr-primary;
                margin: .2rem;
                color: #fff;
            }
        }

        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5rem 1rem 0;

            h3 {
                font-size: 1.5rem;
            }
        }
    }

    &__popup {
        position: absolute;
        background: $bgClr-tertiary;
        transform: translateY(0);
        z-index: 99;
        // change transform => all
        // transition: transform .3s ease-in-out;

        &-container {
            max-width: 40rem;
            box-shadow: $shadow-prim;
            padding: 2rem;
            position: relative;
            height: 100vh;
            overflow-y: auto;
        }

        &-title {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 2rem;
        }

        &-details {
            margin-top: 1rem;
        }

        &-ings {
            h3 {
                font-size: 1.5rem;
                margin: 1.5rem 0;
            }
        }

        &-list {
            padding-left: 2.5rem;
        }

        &-close {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            font-size: 1.5rem;
            cursor: pointer;
        }

        &.hidden {
            opacity: 0;
            transform: translateY(-100%);
        }
    }
}



// // Should go to Scss Style
// body {
//     position: relative;
// }

// .meals__loader {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     background: #666;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     opacity: 0;
//     visibility: hidden;
// }

// .meals__loader.loading {
//     opacity: 1;
//     visibility: visible;
// }

// .meals__loader-spinner {
//     font-size: 3rem;
//     animation: spin 1s linear infinite;
// }

// @keyframes spin {
//     0% {
//         transform: rotate(0deg);
//     }

//     100% {
//         transform: rotate(360deg);
//     }
// }

// .meals__popup {
//     margin: .5rem 0;
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: .5rem 0;
//     background: #7a7a7a;
//     transition: all .3s ease-in-out !important;
// }

// .meals__popup-container {
//     background: #fff;
//     height: 96vh;
// }

// .meals__popup-info {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding-top: 1rem;
// }

// .meals__popup-info span {
//     background: #7a7a7a;
//     color: #fafafa;
//     border-radius: 1rem;
//     padding: 0 1rem;
// }

// .meals__popup-heart {
//     cursor: pointer;
// }

// .meals__card-footer h3 {
//     flex-basis: 75%;
// }

// .meals__card-footer span {
//     flex-basis: 25%;
//     font-size: .875rem;
// }

// .meals__card-heart:hover {
//     color: red
// }

