* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:focus {
  outline: none; }

body {
  font-size: 1rem;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fafafa;
  overflow-y: hidden; }
  body.hidden {
    overflow-x: hidden; }
    body.hidden::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #7a7a7a;
      z-index: 9;
      transition: all .1s ease-in-out; }

a,
a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

.meals__container {
  position: relative;
  width: 25rem;
  color: #fff;
  background: #7a7a7a;
  margin: .5rem 0; }

.meals__header {
  padding: 1rem; }

.meals__body {
  position: relative; }

.meals__search-box {
  max-width: 15rem;
  position: relative;
  margin: 0 auto;
  background: #fafafa; }

.meals__search-input {
  position: relative;
  background: transparent;
  padding: .5rem;
  margin-right: .5rem;
  width: 100%;
  z-index: 9; }

.meals__search-icon {
  line-height: 1;
  font-size: 1.25rem;
  position: absolute;
  color: #7a7a7a;
  right: .5rem;
  top: .5rem; }

.meals__search-list {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #7a7a7a;
  z-index: 99;
  overflow-y: auto;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5); }
  .meals__search-list::before {
    font-family: FontAwesome;
    content: "\f00d";
    position: absolute;
    line-height: 1;
    right: .5rem;
    padding: .2rem;
    font-size: 2rem;
    cursor: pointer; }

.meals__search-item {
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
  cursor: pointer; }

.meals__search-img {
  position: relative;
  flex-basis: 35%;
  margin-right: 1rem; }
  .meals__search-img img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%; }

.meals__search-details {
  flex-basis: 70%; }
  .meals__search-details h4 {
    font-size: 1.5rem;
    line-height: 1;
    margin-top: .5rem; }

.meals__search-info {
  display: flex;
  justify-content: space-between; }
  .meals__search-info span > i {
    margin-right: .5rem; }

.meals__fav {
  background: #16609d;
  padding: 1rem;
  text-align: center; }
  .meals__fav-title {
    margin-bottom: 1rem; }
  .meals__fav-list {
    display: flex;
    justify-content: center;
    list-style: none; }
  .meals__fav-item {
    margin: 0 .3rem;
    cursor: pointer; }
    .meals__fav-item img {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: .2rem; }

.meals__main {
  padding: 1.5rem 1rem; }

.meals__card {
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
  padding: 0 0 1rem 0;
  cursor: pointer; }
  .meals__card-img {
    position: relative; }
    .meals__card-img span {
      position: absolute;
      top: 0;
      left: 0;
      padding: .3rem 1rem;
      text-align: center;
      background: #7a7a7a;
      margin: .2rem;
      color: #fff; }
  .meals__card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem 0; }
    .meals__card-footer h3 {
      font-size: 1.5rem;
      flex-basis: 75%; }
    .meals__card-footer span {
      flex-basis: 25%;
      font-size: .875rem; }

.meals__popup {
  position: absolute;
  transform: translateY(0);
  z-index: 99;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 0;
  margin: .5rem 0;
  background: #fafafa;
  transition: all .3s ease-in-out; }
  .meals__popup-container {
    position: relative;
    padding: 2rem;
    max-width: 40rem;
    height: 96vh;
    background: #fff;
    overflow-y: auto;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5); }
  .meals__popup-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem; }
  .meals__popup-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem; }
    .meals__popup-info span {
      background: #7a7a7a;
      color: #fafafa;
      border-radius: 1rem;
      padding: 0 1rem; }
  .meals__popup-heart {
    cursor: pointer; }
    .meals__popup-heart:hover {
      color: #16609d; }
  .meals__popup-details {
    margin-top: 1rem; }
  .meals__popup-ings h3 {
    font-size: 1.5rem;
    margin: 1.5rem 0; }
  .meals__popup-list {
    padding-left: 2.5rem; }
  .meals__popup-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer; }
  .meals__popup.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%); }

.meals__loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; }
  .meals__loader-spinner {
    font-size: 3rem;
    animation: spin 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
